@import '../../scss/global.scss';

.about-container {
    background: $second1;
    padding: 5%;
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    .about-header {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-around;
        .about-left {
            display: flex;
            align-items: center;
            gap: 30px;
            flex-direction: column;
            h1 {
                font-size: 2.5rem;
                letter-spacing: -1px;
                font-weight: 900;
                color: $accent;
            }
            img {
                object-fit: cover;
                width: 330px;
            }
            
        }
        .about-right {
            width: 100%;
            padding: 0 5%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;

            h1 {
                color: $accent;
                letter-spacing: -1px;
                font-size: 2.5rem;
            }

            div {
                font-size: 1.1rem;
                color: $accent1;

                span {
                    background-color: $main1;
                    color: $second;
                    border-radius: 5px;
                    padding: 2px 5px;
                }
            }
        }
    }

    .about-skills {
        display: flex;
        background-color: $second;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 5%;
        h1 {
            font-size: min(max(2.7rem,4vw));
            letter-spacing: -1px;
            color: $accent;
            font-weight: 900;
        }
        .skills-container {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            gap: 30px;
            .card {
                width: 200px;
                min-width: 200px;
                border-radius: 3px;
                display: flex;
                gap: 15px;
                text-align: center;
                padding: 10px;
                flex-direction: column;
                box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
                align-items: center;
                height: 200px;
                background: $second1;
                h2 {
                    color: $accent;
                    font-weight: bold;
                    font-size: 1.3rem;
                }
    
                img {
                    width: 85px;
                    object-fit: cover;
                }
    
                p {
                    margin-top: auto;
                    width: 90%;
                    font-size: 0.95rem;
                    color: $accent1;
                }
            }
        }
    }
}
@media (max-width:720px) {
    .about-container {
        .about-header {
            flex-direction: column;
            .about-left {
                img {
                    width: 80%;
                }
                h1 {
                    font-size: 3rem;
                }
            }
            .about-right{
                h1 {
                    font-size: 2.5rem;
                    font-weight: 900;
                }

                div {
                    font-size: 1rem;
                }
            }
    }
    .about-skills {
        .skills-container {
            flex-wrap: nowrap;
            overflow-x: auto;
            justify-content: flex-start;
            padding-bottom: 5%;
            padding-left: 2%;
        }
    }
}}