.admin-form {
    width: 80vw;
    margin: 20vh auto;
    background-color: #222;
    color: #FEFEFF;
    padding: 20px 30px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

form h1 {
    text-align: center;
    margin-bottom: 10px;
}


form .admin-input {
    margin: 15px 0;
    height: 40px;
    padding: 0 10px;
    border: none;
    background-color: #222;
    color: #FEFEFF;
    border-bottom: 1px solid #FEFEFF;
}

form button {
    height: 40px;
    background-color: #2ec4b6;
    border: none;
    color: #FEFEFF;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 25px;
}

.panel {
    background-color: #222;
    width: 80vw;
    max-width: 700px;
    display: flex;
    color: #FEFEFF;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    margin: 10vh auto;
}

.panel h3 {
    background-color: #FEFEFF;
    color: #222;
    text-align: center;
}
