.contact-container {
  width: 100%;
  padding: 5% 5%;
  display: flex;
  background-color: var(--main);
  background-size: cover;
  object-fit: cover;
  background-position: 80%;
  background-repeat: no-repeat;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-container h1 {
  color: var(--second);
  margin-bottom: 10px;
  text-align: center;
}

.contact {
  margin-top: 25px;
  background-color: var(--main1);
  width: 80vw;
  max-width: 370px;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 var(--second);
  padding: 10px 20px;
}

.contact i {
  font-size: min(max(20px, 2vw), 25px);
  color: #2ec4b6;
  cursor: pointer;
}
.contact p {
  color: var(--second1);
  margin: 10px 0;
  font-size: min(max(16px, 2vw), 18px);
}

.contact-wrapper {
  text-align: center;
}

.contact-wrapper h3 {
  color: var(--second1);
}

.message {
  background-color: var(--main1);
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 30px;
  width: 80vw;
  box-shadow: 0 0 1px 0 var(--second);
  max-width: 370px;
}

.field {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 5px;
  transition: 0.4s;
  margin-bottom: 10px;
}

.field input {
  width: 100%;
  border-radius: 4px;
  height: 35px;
  background-color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  color: #222;
  transform: translateX(0);
  transition: 0.4s;
}

.field input:focus::placeholder {
  transition: 0.4s;
  transform: scale(0.8) translateX(-20%) translateY(-100%);
  color: #2ec4b6;
}


@keyframes movePlaceholder {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
.msg-area {
  display: flex;
  flex-direction: column;
}

.msg-area textarea {
  outline: none;
  color: #222;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  height: 200px;
  border: none;
  margin-bottom: 20px;
  resize: none;
}

.msg-area button {
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #fefeff;
  background-color: #2ec4b6;
  border: none;
  outline: none;
  font-size: 22px;
}
.contact-bg {
  margin-top: 10vh;
} 
.contact-bg img {
  max-height: 100vh;
  max-width: 100vw;
  background-color: var(--main);
}