@keyframes slide-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    background: black;
    color: black;
  }
  to {
    opacity: 1;
    color: black;
    background: none;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
